<h2>Books</h2>
<div>Below is a book tracker to remember what books have been read or listened to.</div>
<div class="button-container">
  Sort By:
  <button *ngFor="let b of sortByButtons" (click)="sortBy(b.keyVal)"
          [classList]="getActiveSort() == b.keyVal ? 'showArrow':''">
    {{b.name}}
    <span>{{sorter.getArrow()}}</span>
  </button>
</div>
<div class="button-container">
  <mat-form-field>
    <mat-label>Show books</mat-label>
    <mat-select (selectionChange)="changeClient($event.value)">
      <mat-option *ngFor="let t of showTypeList" [value]="t.value">
        {{t.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <label>
    New Book Title: <input #bookTitle>
  </label>
  <button (click)="addBook(bookTitle.value)">
    add
  </button>
</div>


<ul class="books">
  <li *ngFor="let b of getFilteredBooks()" class="book">
    {{ b.title }} <span *ngIf="b.author">by {{ b.author }}</span>
    <span *ngIf="b.read || b.listened_to; then showCheckEmoji"></span>
    <ng-template #showCheckEmoji>— ✅</ng-template>
    <span *ngIf="b.read; then showBookEmoji"></span>
    <ng-template #showBookEmoji> 📖</ng-template>
    <span *ngIf="b.listened_to; then showHeadphoneEmoji"></span>
    <ng-template #showHeadphoneEmoji> 🎧</ng-template>
  </li>
</ul>
