<h2>Books</h2>
<div>Below is a book tracker to remember what books have been read or listened to.</div>
<div class="button-container">
  Sort By:
  <button *ngFor="let b of sortByButtons" (click)="sortBy(b.keyVal)">{{b.name}}
    <span *ngIf="getActiveSort() == b.keyVal">{{sorter.getArrow()}}</span>
  </button>
</div>
<div>
  <label>Add a book:
    <input #bookTitle />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button>
    add
  </button>
</div>
<mat-form-field>
  <mat-label>Show books</mat-label>
  <mat-select (selectionChange)="changeClient($event.value)">
    <mat-option *ngFor="let t of showTypeList" [value]="t.value">
      {{t.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>


<ul class="books">
  <li *ngFor="let b of getFilteredBooks()" class="book">
    {{ b.title }} by {{ b.author }}
    <span *ngIf="b.read || b.listened_to; then showCheckEmoji"></span>
    <ng-template #showCheckEmoji>— ✅</ng-template>
    <span *ngIf="b.read; then showBookEmoji"></span>
    <ng-template #showBookEmoji> 📖</ng-template>
    <span *ngIf="b.listened_to; then showHeadphoneEmoji"></span>
    <ng-template #showHeadphoneEmoji> 🎧</ng-template>
  </li>
</ul>
