span.opaque {
  opacity: .4;
}
span.full {
  opacity: 1;
}

button {
  font: inherit;
  background: cornflowerblue;
  border: 1px solid cornflowerblue;
  color: white;
  cursor: pointer;
  margin: auto auto 5px 5px;
  padding: .25rem .5rem;
  font-size: .8rem;
  border-radius: .5em;
}
